<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tumor Detection</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        /* Centering the entire content */
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
            background-color: #f0f0f0; /* Light grey background */
        }

        .container {
            text-align: center;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        }

        h1 {
            margin-bottom: 20px;
        }

        input[type="file"] {
            margin-bottom: 20px;
        }

        button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        #result {
            margin-top: 20px;
            font-size: 1.2em;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Tumor Detection System</h1>
        <input type="file" id="imageUpload" accept="image/*">
        <button id="uploadButton">Upload and Predict</button>
        <div id="result"></div>
    </div>

    <script>
        var websocketString = '';
        if (window.location.hostname === '127.0.0.1') {
            websocketString = "ws://localhost:8000/ws";
        } else {
            websocketString = `wss://${window.location.hostname}/ws`;
        }

        var ws = new WebSocket(websocketString);

        document.getElementById('uploadButton').onclick = function() {
            var fileInput = document.getElementById('imageUpload');
            var file = fileInput.files[0];
            var reader = new FileReader();

            reader.onload = function(event) {
                var imageData = event.target.result;
                ws.send(imageData);
            }

            reader.readAsDataURL(file);
        }

        ws.onmessage = function(event) {
            document.getElementById('result').textContent = event.data;
        }
    </script>
</body>
</html>
